<h1>Liste des clients</h1>

<table>
  <tr>
    <td>Numéro du client</td>
    <td>Nom de l'entreprise</td>
    <td>devis</td>
    <td>Factures</td>
    <td>Edition</td>
  </tr>

<% @clients.each do |client| %>
    <tr style='background-color:<%= !flash[:id_client].nil? && flash[:id_client].to_i == client.id ? "#FEF680" : "" %>;'>
    <td><%= client.numclient %></td>
    <td><%= client.nameentreprise %></td>
    <td><%= link_to image_tag("img_general/devis.png", :size=>"20x20"), {:controller=>"devis", :action=>"index", :client_id=>client.id}, :title=>"Voir les devis du client" %></td>
    <td><%= link_to image_tag("img_general/facture.png", :size=>"20x20"), {:controller=>"factures", :action=>"index", :client_id=>client.id}, :title=>"Voir les factures du client" %></td>
    <td><%= link_to image_tag("img_general/icone_edition.png", :size=>"20x20"), edit_client_path(client), :title=>"Editer ce client" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("img_general/nouveauclient.png"), new_client_path, :title=>"Ajouter un nouveau client" %>
