<h1>Liste des PV de recettes <%= params[:devi_id].nil? ? "" : "correspondant au devis #{Devi.find(params[:devi_id]).numdevis}" %>
	<%= params[:devi_id].nil? ? link_to("<", :controller=>"pvrecettes" ,:action=>"index", :year=>(params[:year].nil? ? Time.now().strftime("%Y").to_i - 1 : params[:year].to_i - 1)) : link_to("<", :controller=>"pvrecettes" ,:action=>"index", :year=>(params[:year].nil? ? Time.now().strftime("%Y").to_i - 1 : params[:year].to_i - 1), :devi_id=>params[:devi_id]) %> <%= params[:year].nil? ? Time.now().strftime("%Y") : params[:year].to_i %> <%= !params[:year].nil? && Time.now.strftime("%Y").to_i != params[:year].to_i ? (params[:devi_id].nil? ? link_to(">", :controller=>"pvrecettes", :action=>"index", :year=>(params[:year].to_i + 1)) : link_to(">", :controller=>"pvrecettes", :action=>"index", :year=>(params[:year].to_i + 1), :devi_id=>params[:devi_id])) : "" %> 
</h1>

<table class='tab_class_list' width='82.5%' cellpadding='0' border='0' cellspacing='0'>
  <tr class='table_tr_class_contenu'>
    <td width='20%'>N° PV recette</td>
    <td width='20%'>N° devis</td>
    <td width='20%'>Liste des numéros de facture</td>
    <td width='7.5%'>PDF</td>
    <td width='7.5%'>Edition</td>
    <td class='td_fin_colonne_table' width='7.5%'>Supression</td>
  </tr>

<% @pvrecettes.each do |pvrecette| %>
  <tr class='table_tr_class_contenu'>
    <td><%= pvrecette.numpvrecette %></td>
    <td><%= pvrecette.devi.numdevis %></td>
    <td width='20%'>
	<ul>
    		<% pvrecette.factures.each{ |facture| %>
			<% content_tag_for :li, facture do %>
				<%= facture.numfacture %>
			<% end %>
		<% } %>
	</ul>
    </td>
    <td><%= link_to image_tag("img_general/icone_pdf.png", :size=>"20x20"), "pvrecettes/#{pvrecette.numpvrecette}.pdf?pvrecette_id=#{pvrecette.id}", :title=>"Afficher le pdf de ce PV de recette" %></td>
    <td><%= link_to image_tag("img_general/icone_edition.png", :size=>"20x20"), edit_pvrecette_path(pvrecette) %></td>
    <td class='td_fin_colonne_table'><%= link_to image_tag("img_general/bin.png", :size=>"20x20"), pvrecette, :confirm => "Etes vous sur de vouloir supprimer ce pv de recettes ?", :method => :delete, :title=>"Supprimer ce pv de recettes" %></td>
  </tr>
<% end %>
</table>

<% 
	#link_to 'New Pvrecette', new_pvrecette_path 
%>
